@model OnlineShopping.Domain.Entities.ShippingDetails
@{ 
    ViewBag.Title = "Checkout"; 
}
<h2>Check out</h2>
Please enter your details, and we'll ship your goods right away! 
@using (Html.BeginForm())
{ 
    
    @Html.ValidationSummary() 

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
                <legend><i class="glyphicon glyphicon-pencil"></i>Address</legend>
                <input class="form-control" data-val="true" data-val-required="Please enter the address line" id="shippingAddress" name="shippingAddress" type="text" value="" required />
                <br />     
            </div>
        </div>
    </div>

    <p align="center">
        <button class="btn btn-success" type="submit">Complete Order</button>
    </p> 
    
}