@{
    ViewBag.Title = "storeLocator";
}

<style type="text/css">
    #map_wrapper {
        height: 450px;
        width: 900px;
    }

    #map_canvas {
        width: 100%;
        height: 100%;
    }
</style>

<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>


<script src="http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize" type="text/javascript"></script>
<script>
    //NUS latitude and longitude
    var defaultLat = 1.2987;
    var defaultLong = 103.77195;

    function updateVal(a,b){
        window.defaultLat = a;
        window.defaultLong = b;
    }

    // Check for geolocation support	
    if (navigator.geolocation) {
        // Get current position
        navigator.geolocation.getCurrentPosition(function (position) {
            // Success!
            updateVal(position.coords.latitude,position.coords.longitude);
            //  markOutLocation(position.coords.latitude, position.coords.longitude);
        },
            function () {
                // Gelocation fallback: Defaults to Stockholm, Sweden
                markerText = "<p>Please accept geolocation for me to be able to find you. <br>I've put you in Stockholm for now.</p>";
                //      markOutLocation(59.3325215, 18.0643818);
            },
            {
                maximumAge:Infinity
            }
        );
    }

    else {
        // No geolocation fallback: Defaults to Eeaster Island, Chile
        markerText = "<p>No location support. Try Easter Island for now. :-)</p>";
        //markOutLocation(-27.121192, -109.366424);
    }

    function initialize() {
        var map;
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: 'roadmap'
        };

        //alert(window.defaultLat);

        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        map.setTilt(45);

        // Multiple Markers
        var markers = [
            ['Store 1', 1.370191, 103.849430],
            ['Store 2', 1.344192, 103.720942],
            ['Store 3', 1.276275, 103.791409],
            ['Store 4', 1.316519,103.882990],
            ['Store 5', 1.437162, 103.786602],
            ['You',window.defaultLat,window.defaultLong],
        ];

        // Info Window Content
        //var infoWindowContent = [
        //    ['<div class="info_content">' +
        //    '<h3>London Eye</h3>' +
        //    '<p>The London Eye is a giant Ferris wheel situated on the banks of the River Thames. The entire structure is 135 metres (443 ft) tall and the wheel has a diameter of 120 metres (394 ft).</p>' + '</div>'],
        //    ['<div class="info_content">' +
        //    '<h3>Palace of Westminster</h3>' +
        //    '<p>The Palace of Westminster is the meeting place of the House of Commons and the House of Lords, the two houses of the Parliament of the United Kingdom. Commonly known as the Houses of Parliament after its tenants.</p>' +
        //    '</div>'],
        //    ['<div> positioningnsad </div>']
        //];

        // Display multiple markers on a map
        //var infoWindow = new google.maps.InfoWindow(), marker, i;
        // Loop through our array of markers & place each one on the map  

        for (i = 0; i < markers.length; i++) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markers[i][0]
            });

            // Allow each marker to have an info window    
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infoWindow.setContent(infoWindowContent[i][0]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));

            // Automatically center the map fitting all markers on the screen
            map.fitBounds(bounds);
        }

        // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
        var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
            this.setZoom(11);
            google.maps.event.removeListener(boundsListener);
        });
    }

</script>


